{
  "extends": "./node_modules/re-app-builder/base-babel-config.json",
  "plugins": [
	"tcomb",
	[
	  "module-resolver",
	  {
		"root": [
		  "./src"
		],
		"alias": {
		  "mocks": "./mocks",
		  "i18n": "./src/i18n",
		  "components": "./src/components",
		  "examples": "./src/examples",
		  "decorators": "./src/decorators",
		  "form-controls": "./src/form-controls",
		  "form-fields": "./src/form-fields",
		  "fonts": "./src/fonts",
		  "modules": "./src/modules",
		  "screens": "./src/screens",
		  "stylesheets": "./src/stylesheets",
		  "utils": "./src/utils",
		  "spec": "./spec"
		}
	  }
	]
  ]
}
